<!-- <% include _header_style_links %> -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../vendor/bootstrap/button/button.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
        <h1 id="name" class="page-header"></h1>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">

                <a href="/admin"><i class="fa fa-home fa-fw"></i></a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none">
                    <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/admin/edit" class="btn btn-link"><i class="fa fa-user fa-fw"></i>Edit Profile</a>
                    </li>

                    <li class="divider"></li>
                    <li><button type="button" class="btn btn-link" id="logout" style="margin-left:25px"><i class="fa fa-sign-out fa-fw"></i>Log
                            Out</button>
                    </li>
                </ul>

                <!-- /.dropdown-user -->

                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a class="bttn-pill bttn-md bttn-primary" href="/admin_getUsers"><i class="fa fa-users"></i>
                                All Students</a>
                        </li>
                        <li> <a class="bttn-pill bttn-md bttn-primary" href="/admin_getAdmins"><i class="fa fa-list fa-fw"></i>All
                                Admins</a></li>
                        <li><a class="bttn-pill bttn-md bttn-primary" href="/admin_getOrganizations"><i class="fa fa-building fa-fw"></i>All
                                Organizations</a></li>
                        <li> <a class="bttn-pill bttn-md bttn-primary" href="/admin_user"><i class="fa fa-user-plus fa-fw"></i>
                                Add Users</a>
                        </li>



                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-6">
                <h-h1 id="name" class="page-header"></h-h1>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel panel-default">

                        <h3 class="panel-heading"> Admin Profile </h3>

                        <div class="panel-body">
                            <div class="row1">
                                <div class="col-lg-9">

                                    <table>
                                        <tr>
                                            <td>Admin Id</td>
                                            <td>
                                                <h4 id="admin_id"></h4>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>Phone Number</td>
                                            <td>
                                                <h4 id="phone_number"></h4>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>E Mail</td>
                                            <td>
                                                <h4 id="email"></h4>
                                            </td>

                                        </tr>
                                    </table>





                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->

                </div>

                <!-- /#page-wrapper -->

            </div>
        </div>
    </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <!-- <script src="../dist/js/sb-admin-2.js"></script> -->

    <!-- <a href="./admin_user">Add User</a>
<a href="./admin_getUsers">All students</a>
<a href="./admin_getAdmins">All Admins</a>
<a href="./admin_getOrganizations">All Organizations</a>
<a href="./admin/edit">Edit Profile</a>

<button type="button" class="btn btn-primary" id="logout">Logout</button> -->

    <!-- user home

<h1>Admin Id:</h1>
<h1 id="admin_id"></h1>
 <h1 id="nic"></h1>
<h1 id="phone_number"></h1> 
<h1 id="email"></h1>
 <img src="photo"  width="42" height="42"> -->
    <!-- <h1 id="cv"></h1> 
<h1 id="technical_skills"></h1> -->


    <% include _script_links %>

    <script>

        var token = localStorage.getItem("token");
        if (!!token) {
            $.ajax({
                type: "GET",
                url: `/users/${token}`,
                dataType: "json",
                success: function (data) {

                    $("#admin_id").text(data.student_id);
                    $("#name").text(data.name);
                    $("#nic").text(data.nic);
                    $("#phone_number").text(data.phone_number);
                    $("#email").text(data.email);
                    $("#technical_skills").text(data.technical_skills);

                    console.log(data);

                },
                error: function () {
                    console.log("error from the method");
                }
            });

        } else {
            window.location.replace("/");
        }

        $("#logout").click(function () {
            localStorage.clear("token");
            window.location.replace("/");
        });

    </script>
</body>

</html>