<!-- <% include _header_style_links %> -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../vendor/bootstrap/button/button.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
        <h1 id="name" class="page-header"></h1>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">

                <a class="bttn-pill bttn-md bttn-primary" href="/admin"><i class="fa fa-home fa-fw"></i></a>
                <a class="bttn-pill bttn-md bttn-primary" class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none">
                    <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/admin/edit" class="btn btn-link"><i class="fa fa-user fa-fw"></i>Edit Profile</a>
                    </li>

                    <li class="divider"></li>
                    <li><button type="button" class="btn btn-link" id="logout" style="margin-left:25px"><i class="fa fa-sign-out fa-fw"></i>Log
                            Out</button>
                    </li>
                </ul>

                <!-- /.dropdown-user -->

                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a class="bttn-pill bttn-md bttn-primary" href="/admin_getUsers"><i class="fa fa-users"></i>
                                All Students</a>
                        </li>
                        <li> <a class="bttn-pill bttn-md bttn-primary" href="/admin_getAdmins"><i class="fa fa-list fa-fw"></i>All
                                Admins</a></li>
                        <li><a class="bttn-pill bttn-md bttn-primary" href="/admin_getOrganizations"><i class="fa fa-building fa-fw"></i>All
                                Organizations</a></li>
                        <li> <a class="bttn-pill bttn-md bttn-primary" href="/admin_user"><i class="fa fa-user-plus fa-fw"></i>
                                Add Users</a>
                        </li>



                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-6">
                <h-h1 id="name" class="page-header"></h-h1>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel panel-default">

                        <h3 class="panel-heading">
                            Edit Admin Profile
                        </h3>

                        <div class="panel-body">
                            <div class="row1">
                                <div class="col-lg-9">
                                    <form role="form">

                                        <div class="form-group">
                                            <p style="color:red" id="error1"></p>
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name2" placeholder="Full Name"
                                                required />
                                            <p style="color:red" id="name1"></p>
                                            <label for="nic">NIC</label>
                                            <input type="text" class="form-control" id="nic" placeholder="NIC" required />
                                            <p id="nic"></p>
                                            <label for="email">E-Mail</label>
                                            <input type="email" class="form-control" id="email" placeholder="E-mail"
                                                required />
                                            <p id="email"></p>
                                            <label for="phone">Phone Number</label>
                                            <input type="text" class="form-control" id="phone_number" placeholder="Phone number"
                                                required />
                                            <p id="phone"></p>

                                        </div>

                                        <button type="button" class="bttn-pill bttn-md bttn-primary" id="userUpdate">submit</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->

                    </div>

                    <!-- /#page-wrapper -->

                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <!-- <script src="../dist/js/sb-admin-2.js"></script> -->
    <% include _script_links %>
    <script>

        function ValidateEmail(email) {

            if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))) {
                return (true)
            }

            return (false)
        }




        var token = localStorage.getItem("token");
        var id;
        if (!!token) {
            $.ajax({
                type: "GET",
                url: `/users/${token}`,
                dataType: "json",
                success: function (data) {

                    if (data.role == "admin") {
                        $("#admin_id").text(data.student_id);
                        $("#name").text(data.name);
                        $("#nic").text(data.nic);
                        $("#phone_number").text(data.phone_number);
                        $("#email").text(data.email);
                    } else {
                        window.location.replace("/");
                    }


                    console.log(data);
                    id = data._id;



                },
                error: function () {
                    console.log("error from the method");
                }
            });

        } else {
            window.location.replace("/");
        }

        $("#userUpdate").click(function () {

            if ($("#name2").val() == "" || $("#nic").val() == "" || $("#phone_number").val() == "" || $("#email").val() == "") {

                document.getElementById("error1").textContent = "Fill the all field";

            }

            else if (ValidateEmail($("#email").val())) {
                alert("You have entered an invalid email address!");
            }


            else {

                var name = $("#name2").val();
                var nic = $("#nic").val();
                var phone_number = $("#phone_number").val();
                var email = $("#email").val();




                if (!(/^\d{10}$/.test(phone_number))) {
                    alert("Invalid number; must be ten digits");
                    number.focus()
                    return false

                }
                else if (!((nic.length === 10 && !isNaN(nic.substr(0, 9)) && isNaN(nic.substr(9, 1).toLowerCase()) && ['x', 'v'].includes(nic.substr(9, 1).toLowerCase())) || (nic.length === 12 && !isNaN(nic)) )){
                    alert("Invalid NIC ");
                } 
                else {


                    var userUpdate = {
                        name: name,
                        email: email,
                        phone_number: phone_number,
                        nic: nic

                    };

                    console.log(`${name}  ${email} ${phone_number} ${nic}`);
                    $.ajax({
                        type: "put",
                        url: `/admin/${id}`,
                        dataType: "json",
                        data: userUpdate,
                        success: function (data) {

                            window.location.replace("/admin");
                        },
                        error: function () {
                            console.log("error from the method");
                            // window.location.replace("/admin");

                            if (name == null || name == "") {
                                //  alert("Name can't be blank");  
                                document.getElementById("name1").textContent = "Name can't be blank";

                            }

                            else if (nic == null || nic == "") {
                                // alert("Password must be at least 6 characters long.");  
                                document.getElementById("nic").textContent = "NIC can't be blank";

                            }

                            else if (phone_number == null || phone_number == "") {
                                // alert("Password must be at least 6 characters long.");  
                                document.getElementById("phone").textContent = "Phone Number can't be blank";

                            }
                            else if (email == null || email == "") {
                                // alert("Password must be at least 6 characters long.");  
                                document.getElementById("email").textContent = "Email can't be blank";

                            }
                        }
                    });

                }

            }
        });

        $("#logout").click(function () {
            localStorage.clear("token");
            window.location.replace("/");
        });


    </script>
</body>

</html>