<% include _header_style_links %>
<h1>wel come</h1>

<a href="./admin/user">Add User</a>
<!-- <a href="">add user</a> -->

<button type="button" class="btn btn-primary" id="logout">Logout</button>

user home

<h1>Admin Id:</h1>
<h1 id="student_id"></h1>
<!-- <h1 id="nic"></h1>
<h1 id="phone_number"></h1> -->
<h1 id="email"></h1>
<!-- <img src="photo"  width="42" height="42"> -->
<!-- <h1 id="cv"></h1> -->
<h1 id="technical_skills"></h1>

<% include _script_links %>

<script>

    var token = localStorage.getItem("token");
    if (!!token) {
        $.ajax({
            type: "GET",
            url: `/users/${token}`,
            dataType: "json",
            success: function (data) {

                $("#student_id").text(data.student_id);
                // $("#nic").text(data.nic);
                // $("#phone_number").text(data.phone_number);
                $("#email").text(data.email);
                // $("#photo").src(data.photo);
                // ("#cv").text(data.cv);
                // ("#technical_skills").text(data.technical_skills);

                console.log(data);

            },
            error: function () {
                console.log("error from the method");
            }
        });

    } else {
        window.location.replace("/");
    }

     $("#logout").click(function () {
        localStorage.clear("token");
        window.location.replace("login"); 
     });

</script>
