<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>organization Id:</h1>
    <h1 id="name"></h1>

  
  
    <% practices.forEach(function (practice) { %>
        <br>
        <%= practice.f_name %>
        <%= practice.l_name %>
        <img src="<%= practice.thumbnail %>" />
        <a href ="<%= practice.cv %>">cv link</a>
     
        <% }) %>

<% include _script_links %>

<script>

    var token = localStorage.getItem("token");
    if (!!token) {
        $.ajax({
            type: "GET",
            url: `/users/${token}`,
            dataType: "json",
            success: function (data) {

                $("#org_id").text(data.student_id);
                $("#nic").text(data.nic);
                $("#phone_number").text(data.phone_number);
                $("#email").text(data.email);
                // $("#photo").src(data.photo);
                // ("#cv").text(data.cv);
                $("#name").text(data.name);

                console.log(data);

            },
            error: function () {
                console.log("error from the method");
            }
        });

    } else {
        window.location.replace("/");
    }

    $("#logout").click(function () {
        localStorage.clear("token");
        window.location.replace("login");
    });

</script>
</body>
</html>