<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include _header_style_links %>
</head>

<body>
    <form>

        <div class="form-group">
            <label for="name">Organization Name</label>
            <input type="text" class="form-control" id="name" placeholder="Organization Name" required>
            <label for="email">Organization E-Mail</label>
            <input type="email" class="form-control" id="email" placeholder="E-mail" required>
            <label for="phone">Organization Contact Number</label>
            <input type="text" class="form-control" id="phone_number" placeholder="Phone number" required>
            <label for="phone">Web Site </label>
            <input type="text" class="form-control" id="web" placeholder="web site" required>
            <label for="vacancy">Available Vacancies</label>
            <input type="text" class="form-control" id="vacancy" placeholder="Available Vacancies" required>
         
           

        </div>

        <button type="button" class="btn btn-primary" id="organizationUpdate">submit</button>
    </form>


    <% include _script_links %>
    <script>

        var token = localStorage.getItem("token");
        var id;
        if (!!token) {
            $.ajax({
                type: "GET",
                url: `/users/${token}`,
                dataType: "json",
                success: function (data) {

                    $("#student_id").text(data.student_id);
                    $("#name").text(data.name);
                     $("#web").text(data.web);
                    $("#phone_number").text(data.phone_number);
                    $("#email").text(data.email);
                    // $("#photo").src(data.photo);
                    // ("#closing_date").date(data.closing_date);
                      $("#vacancy").text(data.vacancy);

                    console.log(data);
                    id = data._id;

                },
                error: function () {
                    console.log("error from the method");
                }
            });

        } else {
            window.location.replace("/");
        }

        $("#organizationUpdate").click(function () {

            var name = $("#name").val();
            var web = $("#web").val();
            var phone_number = $("#phone_number").val();
            var email = $("#email").val();
             var vacancy = $("#vacancy").val();
            //var closing_date = $("#closing_date").val();

            var organizationUpdate = {
                name: name,
                web: web,
                //closing_date: closing_date,
                phone_number: phone_number,
                 vacancy: vacancy
              //  closing_date: closing_date

            };

            console.log(`${name}  ${email} ${web} ${phone_number} ${vacancy}`);
            $.ajax({
                type: "put",
                url: `/organizations/${id}`,
                dataType: "json",
                data: organizationUpdate,
                success: function (data) {

                    window.location.replace("/organizations");
                },
                error: function () {
                    console.log("error from the method");
                    window.location.replace("/login");
                }
            });
        });



    </script>
</body>

</html>