<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <% include _header_style_links %>
</head>

<body>
    <h1>page not found</h1>
    <% include _script_links %>
</body>

</html>