<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include _header_style_links %>
</head>

<body>
<form>

        <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Full Name" required>
                <label for="nic">NIC</label>
                <input type="text" class="form-control" id="nic" placeholder="NIC" required>
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" placeholder="E-mail" required>
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" id="phone_number" placeholder="Phone number" required>
                <label for="technical_skills">Technical Skills</label>
                <input type="text" class="form-control" id="technical_skills" placeholder="Technical Skills" required>

    
            </div>

            <button type="button" class="btn btn-primary" id="userUpdate">submit</button>
</form>


    <% include _script_links %>
</body>

</html>