<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include _header_style_links %>
</head>

<body>
<form>

        <div class="form-group">
                <label for="nic">nic</label>
                <input type="text" class="form-control" id="nic" placeholder="Enter nic" required>
    
            </div>

            <button type="button" class="btn btn-primary" id="update">submit</button>
</form>


    <% include _script_links %>
</body>

</html>