<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <% include _header_style_links %>

        <title>node file upload</title>
</head>

<body>
    <div class="container"></div>
    <h1>File upload</h1>

    <form action="/imageupload" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
            <div class="btn grey">
                <span>File</span>
                <input name="myImage" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" name="myImage" type="text">
            </div>
        </div>
        <button type="submit" class="btn" id="imageupload" >Submit</button>
    </form>
    <br>

    
    <% include _script_links %>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <script>

            var token = localStorage.getItem("token");
            var id;
            if (!!token) {
                $.ajax({
                    type: "GET",
                    url: `/users/${token}`,
                    dataType: "json",
                    success: function (data) {

                        $("#student_id").text(data.student_id);
                        $("#name").text(data.name);
                        $("#nic").text(data.nic);
                        $("#phone_number").text(data.phone_number);
                        $("#email").text(data.email);
                        // $("#photo").text(data.photo);
                         $("#cv").text(data.cv);
                        $("#technical_skills").text(data.technical_skills);

                        console.log(data);
                        id = data._id;

                    },
                    error: function () {
                        console.log("error from the method");
                    }
                });

            } else {
                window.location.replace("/");
            }

            $("#imageupload").click(function () {

       
                var photo = $("#myImage").val();

                var imageupload = {
       
                    photo: photo

                };

                 console.log(` ${photo}`);
                $.ajax({
                    type: "post",
                    url: `/users/${id}`,
                    dataType: "json",
                    data: imageupload,
                    success: function (data) {

                        window.location.replace("/users");
                    },
                    error: function () {
                        console.log("error from the method");
                        window.location.replace("/login");
                    }
                });
            });



        </script>
</body>
</html>