<% practices.forEach(function (practice) { %>
<br>
<%= practice.student_id %>
<%= practice.name %>
<a href ="<%= practice.cv %>">cv link</a>
<!-- note you defined the field as Name not name -->
<% }) %>